*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container{
  display:flex;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  /* background:#873e23; */
  background:   	   	#808080;
  color: #fff;
  height: 100vh;
  width: 250px;
  transition: all 0.5s;
  /* margin-left: 100px; */
  margin-left: -9vw;
  
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
 
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #e6ffe6;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background: #e6ffe6;
  color: #000;
  transition: all 0.5s;
}
/* .active{
  background: #F5F5DC;
  color: #000;
} */
.icon, .link_text{
  font-size: 20px;
}